body{
    min-width: 100vh;
    font-family: Lato, Helvetica, sans-serif;
    margin: 0;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.header{
    background-color: #E3313D;
    width: 100%;
}

.header-container {
	margin-left: 0;
	margin-right: 0px;
	display: flex;
    padding: 5px 250px;
	justify-content: space-between;
	align-items: center;
}

.navigation ul{
    margin: 0;
	margin-left: 40px;
	padding: 0;
	list-style: none;
}

.navigation ul li {
    display: inline-block;
    padding: 0px 20px;
}

.navigation ul li a{
    text-decoration: none;
    color: aliceblue;
}

.navigation ul li a:hover{
    color: #023365;
}

.image-background{
    position: relative;
    width: 100%;
    height: 910px;
    overflow: hidden;
    background: linear-gradient(#172d64, #7f6c90);
}


.image-background .background{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    object-fit: fill;
}

.app-title{
    position: absolute;
    color: #ffffff;
    white-space: nowrap;
    height: 20%;
    left: 14%;
    top: 20%;
    animation-name: appear;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.email-form{
    position: absolute;
    top: 45%;
    width: 30%;
    color: #ffffff;
    font-size: 100%;
    left: 15%;
}

input[type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #E3313D;
  color: white;
  padding: 14px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #ffffff;
  color: #E3313D;
}

.feature-container{
    background-color: #DFDFDF;
    width: 100%;
    height: 750px;
    overflow: hidden;
   
}

.feature-title{
    padding: 2% 0% 3% 0%;
    text-align: center;
}

.feature-title h1{
    font-size: 48px;
}

.features{
    padding: 0% 10%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    overflow: auto;
}

.features .feature-item{
    width: 20%;
    height: 20%;
}

.features .feature-item .face{
    position: absolute;   
    width: 400px;
    height: 450px;
    backface-visibility: hidden;
    overflow: hidden;
    transition: .5s;
}

.features .feature-item:hover .front{
    transform: perspective(600px) rotateY(180deg);
}

.features .feature-item:hover .back{
    transform: perspective(600px) rotateY(360deg);
}

.features .feature-item .front{
    background: #202020;
    width: 300px;
    height: 320px;
    display: flex;
    border-radius: 40px;
    flex-direction: column;
    padding: 50px 10px;
    
    text-align: center;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    transform: perspective(600px) rotateY(0deg);
}

.features .feature-item .front img{
    height: 40%;
    max-width: 60%;
}

.features .feature-item .front h3{
    font-size: 20px;
}

.features .feature-item .front p{
    font-size: 13px;
}

.features .feature-item .back{
    transform: perspective(600px) rotateY(180deg);
}

.features .feature-item .principal-image{
    position: absolute;
    height: 80%;
    left: 25%;
    top: 20%;
}

.card-back{
    display: flex;
    width: 320px;
    height: 420px;
    border-radius: 40px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: #ffffff;
    overflow: hidden;
}

.red{
    background: #E3313D;
}

.gray{
    background: #A4A4A4;
}


.features .feature-item .back .card-back .back-icon{
    position: relative;
    opacity: 10%;
    height: 50%;
    left: -40%;
    top: 20%;
}


.features .feature-item .back .card-back .back-image{
    position: absolute;
    height: 30%;
    left: 10%;
    top: 25%;
}

.features .feature-item .back .card-back p{
    color: #ffffff;
    padding: 10% 10%;
    font-size: 15px;
}

.footer{
    width: 100%;
    background-color: #000000;
}

.footer .footer-container{
    padding: 5% 20%;
}

.logo-footer{
    width: 130px;
}

.options-container{
    padding: 0px 0px;
    vertical-align: top;
    color: #FFF;
    margin: 0;
    font-family: 'Gotham', sans-serif;
}

.options-container .list-container{
	margin: 0;
}

.options-container .list-container .list-column{
	display: inline-block;
    vertical-align: top;
    padding: 8px 10px;
}

.options-container .list-container .list-column li {
	display: block;
    padding: 12px 10px;
    color: #FFF;
    text-decoration: none;
    font-size: 14px;
	
}

.options-container .list-container .list-column li .list-options-title {
	color: #879496;
    margin-bottom: 10px;
}

.options-container .list-container .list-column .list-options li .list-option:hover {
    cursor: pointer;
    color: #E3313D;
}

.options-container .social-networks{
    padding-left: 0px;
}   

.options-container .social-network{
    display: inline-block;
    padding: 0px 10px;
}

.social-network-item{
    display: table-cell;
    padding: 5px 2px 0px 2px;
    background-color: #222326;
    border-radius: 100%;
    text-align: center;
    width: 50px;
    height: 50px;
    vertical-align: middle;

}

.options-container .social-network i{
    color: #fff;
    text-align: center;
    font-size: 25px;
}

.options-container .social-network i:hover{
    cursor: pointer;
    color: #E3313D;
}

.bottom-option-container{
    color: #a7aeaf;
    font-family: 'Gotham Light', sans-serif;
    font-size: 12px;
    justify-content: space-between;
}

.bottom-option-container .bottom-option{
    display: inline-block;
}

.top-option-container{
    padding-bottom: 5%;
    justify-content: space-between;
}

.bottom-option-container .bottom-option .bottom-option-list li{
    display: inline-block;
}

.bottom-option-container .bottom-option .bottom-option-list li a {
	display: block;
	padding: 0px 10px;
    text-decoration: none;
}

.bottom-option-container .bottom-option .bottom-option-list li a:hover {
	cursor: pointer;
    color: #E3313D;
}

.bottom-option .final-options{
    text-align: end;
}

.country:hover{
    cursor: pointer;
    color: #E3313D;
}

.bottom-option .final-options li{
    display: block;
	padding: 8px 0px;
    text-decoration: none;
}

.welcome .background{
    position: absolute;
    width: 500px;
}

.welcome .background img{
    position: absolute;
    width: 500px;
    left: 1500px;
}

.gallery-container{
    background-color: #ffffff;
    position: relative;
    width: 100%;
    height: 700px;
    overflow: hidden;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 2%;
}

.pokemon-card{
    margin: auto;
    border-radius: 35px;
    background-color: #E3313D;
    width: 90%;
    height: 90%;
}

.pokemon-card .download-options {
    display: inline-block;  
    width: 45%;
    height: 100%;
    color: #ffffff;
}

.pokemon-card .download-options .text-list{
    position: absolute;
    padding: 2% 5% 0% 3%;
}

.pokemon-card .download-options .text-list h1{
    font-size: 400%;
}

.pokemon-card .download-options .text-list p{
    font-size: 120%;
}

@keyframes appear{
    0% {
        opacity: 0; 
        top: 50%;
    }

    100% {
        opacity: 1; 
        top: 20%;
    }
}


.pokemon-card .download-options .pokemon-image{
    border-radius: 35px 0px 0px 35px;
    background-image: url("https://res.cloudinary.com/kyuri/image/upload/v1646674859/pokemon/back_qdkbf2.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.gallery-container .eevee{
    position: absolute;
    height: 87%;
    top: 0;
    left: 8%;
}

a.btn-google{
    color:#fff;
}

.btn {
    width: 150px;
    height: 42px;
    position: absolute;
    padding: 0px 0px 0px 0px;
    margin: 5px;
    font-size: 25px;
    line-height: 1.3333333;
    border-radius: 10px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
    display: inline-block
}

.btn:active:focus,.btn:focus{
    outline:0
}

.btn:focus,.btn:hover{
    color:#333;
    text-decoration:none;
    outline:0
}

.btn:active{
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125)
}

.btn-google{
    color:#fff;
    background-color:#111;
    border-color:#000;
    font-size: 150%;
    padding: 25px 10px 2px 50px;
    margin: 5% 0% 0% 0%;
    position: relative;
    font-weight: 600
}

.btn-google:focus{
    color:#fff;
    background-color:#555;
    border-color:#000
}

.btn-google:active,.btn-google:hover{
    color:#fff;
    background-color:#555;
    border-color:#000;
}

.btn-google:before{
    content:"";
    background-image:url(https://4.bp.blogspot.com/-52U3eP2JDM4/WSkIT1vbUxI/AAAAAAAArQA/iF1BeARv2To-2FGQU7V6UbNPivuv_lccACLcB/s30/nexus2cee_ic_launcher_play_store_new-1.png);
    background-size:cover;
    background-repeat:no-repeat;
    width: 45px;
    height: 45px;
    position: absolute;
    left: 6px;
    top: 40%;
    margin-top:-15px
}

.btn-google:after{
    content:"DISPONIBLE EN";
    position:absolute;
    top: 15%;
    left: 26%;
    font-size: 45%;
    font-weight: 100;
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

@media only screen and (max-width: 1700px) {
    .image-background{
        position: relative;
        width: 120%;
        left: -10%;
        overflow: hidden;
        background: linear-gradient(#172d64, #7f6c90);
    }
}


@media only screen and (max-width: 1550px) {
 
    .app-title{
        position: absolute;
        color: #ffffff;
        white-space: nowrap;
        height: 15%;
        left: 39%;
        top: 20%;
        animation-name: appear;
        animation-duration: 2s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
    }

    .card-back{
        display: flex;
        width: 95%;
        height: 69%;
        border-radius: 30px;
        flex-direction: column;
        text-align: center;
        align-items: center;
        color: #ffffff;
        overflow: hidden;
    }

    
    .email-form{
        left: 40%;
        top: 35%;
    }

    .image-background{
        position: relative;
        width: 150%;
        left: -50%;
        overflow: hidden;
        background: linear-gradient(#172d64, #7f6c90);
    }

    .gallery-container .eevee{
        position: absolute;
        height: 80%;
        top: 8%;
        left: 2%;
    }

    .pokemon-card .download-options .text-list h1{
        font-size: 300%;
        margin-right: 10%;
    }
    
    .pokemon-card .download-options .text-list p{
        font-size: 100%;
    }
    
    .feature-container{
        background-color: #DFDFDF;
        width: 100%;
        height: 1300px;
        overflow: hidden;
       
    }

    .features{
        padding: 0% 15%;
        align-items: center;    
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        overflow: auto;
    }

    .features .feature-item{
        width: 100%;
        height: 20%;
        
    }

    .search{
        position: absolute;
        left: 60%;
    }

    .teams{
        position: absolute;
        top: 750px;
        left: 15%;
    }

    .ubication{
        position: absolute;
        top: 750px;
        left: 60%;
    }

    
    .feature-title{
        padding: 3% 0% 4% 0%;
        text-align: center;
        width: 100%;
        text-align: center;
    }

    .feature-title h1{
        font-size: 40px;
        text-align: center;
    }

    
    .card-back{
        display: flex;
        width: 325px;
        height: 420px;
        border-radius: 40px;
        flex-direction: column;
        text-align: center;
        align-items: center;
        color: #ffffff;
        overflow: hidden;
    }
}


@media only screen and (max-width: 1350px) {

    
    .app-title{
        position: absolute;
        color: #ffffff;
        white-space: nowrap;
        height: 12%;
        left: 39%;
        top: 20%;
        animation-name: appear;
        animation-duration: 2s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
    }

    .email-form{
        position: absolute;
        top: 32%;
        width: 30%;
        color: #ffffff;
        font-size: 100%;
        left: 40%;
    }

    .image-background{
        position: relative;
        left: -60%;
        width: 180%;
        overflow: hidden;
        background: linear-gradient(#172d64, #7f6c90);
    }

}

@media only screen and (max-width: 1200px) {

    .header-container {
        margin-left: 0;
        margin-right: 0px;
        display: flex;
        padding: 5px 50px;
        justify-content: space-between;
        align-items: center;
    }

    .app-title{
        position: absolute;
        color: #ffffff;
        white-space: nowrap;
        height: 12%;
        left: 44%;
        top: 20%;
        animation-name: appear;
        animation-duration: 2s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
    }

    .email-form{
        position: absolute;
        top: 32%;
        width: 30%;
        color: #ffffff;
        font-size: 100%;
        left: 45%;
    }

    .image-background{
        position: relative;
        left: -70%;
        width: 180%;
        overflow: hidden;
        background: linear-gradient(#172d64, #7f6c90);
    }

}

@media only screen and (max-width: 1100px) {

    .header-container {
        margin-left: 0;
        margin-right: 0px;
        display: flex;
        padding: 5px 50px;
        justify-content: space-between;
        align-items: center;
    }

    .app-title{
        position: absolute;
        color: #ffffff;
        white-space: nowrap;
        height: 12%;
        left: 49%;
        top: 20%;
        animation-name: appear;
        animation-duration: 2s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
    }

    .email-form{
        position: absolute;
        top: 32%;
        width: 30%;
        color: #ffffff;
        font-size: 100%;
        left: 50%;
    }

    .image-background{
        position: relative;
        left: -70%;
        width: 170%;
        overflow: hidden;
        background: linear-gradient(#172d64, #7f6c90);
    }

    .feature-container{
        background-color: #DFDFDF;
        width: 100%;
        height: 1300px;
        overflow: hidden;
       
    }

    .features{
        padding: 0% 8%;
        align-items: center;    
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        overflow: auto;
    }

    .features .feature-item{
        width: 100%;
        height: 20%;
        
    }

    .search{
        position: absolute;
        left: 50%;
    }

    .teams{
        position: absolute;
        top: 750px;
        left: 8%;
    }

    .ubication{
        position: absolute;
        top: 750px;
        left: 50%;
    }

    
    .feature-title{
        padding: 3% 0% 4% 0%;
        text-align: center;
        width: 88%;
        text-align: center;
    }

    .feature-title h1{
        font-size: 40px;
        text-align: center;
    }

    
    .card-back{
        display: flex;
        width: 325px;
        height: 420px;
        border-radius: 40px;
        flex-direction: column;
        text-align: center;
        align-items: center;
        color: #ffffff;
        overflow: hidden;
    }

}

@media only screen and (max-width: 1000px) {

    .header-container {
        margin-left: 0;
        margin-right: 0px;
        display: flex;
        padding: 5px 50px;
        justify-content: space-between;
        align-items: center;
    }

    .app-title{
        position: absolute;
        color: #ffffff;
        white-space: nowrap;
        height: 12%;
        left: 49%;
        top: 20%;
        animation-name: appear;
        animation-duration: 2s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
    }

    .email-form{
        position: absolute;
        top: 32%;
        width: 30%;
        color: #ffffff;
        font-size: 100%;
        left: 50%;
    }

    .image-background{
        position: relative;
        left: -80%;
        width: 180%;
        overflow: hidden;
        background: linear-gradient(#172d64, #7f6c90);
    }

    .gallery-container{
        background-color: #ffffff;
        position: relative;
        width: 85%;
        height: 700px;
        align-items: center;
        padding-top: 5%;
        padding-bottom: 2%;
    }
    
    .pokemon-card{
        margin: auto;
        border-radius: 30px;
        background-color: #E3313D;
        width: 90%;
        height: 90%;
    }
    
    .pokemon-card .download-options {
        display: inline-block;  
        width: 45%;
        height: 100%;
        align-items: center;
        color: #ffffff;
    }
    
    .pokemon-card .download-options .text-list{
        position: absolute;
        padding: 2% 5% 0% 3%;
    }
    
    .pokemon-card .download-options .text-list h1{
        font-size: 300%;
    }
    
    .pokemon-card .download-options .text-list p{
        font-size: 100%;
        margin-right: 27px;
    }

    .pokemon-card .download-options .pokemon-image{
        border-radius: 30px 0px 0px 30px;
        background-image: url("https://res.cloudinary.com/kyuri/image/upload/v1646674859/pokemon/back_qdkbf2.jpg");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
    }

    .gallery-container .eevee{
        position: absolute;
        height: 60%;
        top: 28%;
        left: 4%;
    }


}

@media only screen and (max-width: 800px) {
    .header-container {
        margin-left: 0;
        margin-right: 0px;
        display: flex;
        padding: 5px 50px;
        justify-content: space-between;
        align-items: center;
    }

    .app-title{
        position: absolute;
        color: #ffffff;
        white-space: nowrap;
        height: 9%;
        left: 55.5%;
        top: 20%;
        animation-name: appear;
        animation-duration: 2s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
    }

    .email-form{
        position: absolute;
        top: 30%;
        width: 23%;
        color: #ffffff;
        font-size: 100%;
        left: 56%;
    }

    .image-background{
        position: relative;
        width: 200%;
        left: -110%;
        overflow: hidden;
        background: linear-gradient(#172d64, #7f6c90);
    }

    .gallery-container{
        background-color: #ffffff;
        position: relative;
        width: 770px;
        height: 700px;
        align-items: center;
        padding-top: 5%;
        padding-bottom: 2%;
    }
    
    .pokemon-card{
        margin: 2% 2% 5% 5%;
        border-radius: 30px;
        background-color: #E3313D;
        width: 90%;
        height: 90%;
    }
    
    .pokemon-card .download-options {
        display: inline-block;  
        width: 45%;
        height: 100%;
        align-items: center;
        color: #ffffff;
    }
    
    .pokemon-card .download-options .text-list{
        position: absolute;
        padding: 2% 5% 0% 3%;
    }
    
    .pokemon-card .download-options .text-list h1{
        font-size: 300%;
    }
    
    .pokemon-card .download-options .text-list p{
        font-size: 100%;
        margin-right: 27px;
    }

    .pokemon-card .download-options .pokemon-image{
        border-radius: 30px 0px 0px 30px;
        background-image: url("https://res.cloudinary.com/kyuri/image/upload/v1646674859/pokemon/back_qdkbf2.jpg");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
    }

    .gallery-container .eevee{
        position: absolute;
        height: 60%;
        top: 28%;
        left: 0%;
    }

}


@media only screen and (max-width: 790px){
    .gallery-container{
        background-color: #ffffff;
        position: relative;
        width: 490px;
        height: 700px;
        align-items: center;
        padding-top: 5%;
        padding-bottom: 2%;
    }
    
    .pokemon-card{
        margin: auto;
        border-radius: 30px;
        background-color: #E3313D;
        width: 90%;
        height: 90%;
    }
    
    .pokemon-card .download-options {
        display: inline-block;  
        width: 100%;
        height: 45%;
        align-items: center;
        color: #ffffff;
    }
    
    .pokemon-card .download-options .text-list{
        position: absolute;
        padding: 2% 5% 0% 3%;
    }
    
    .pokemon-card .download-options .text-list h1{
        font-size: 200%;
    }
    
    .pokemon-card .download-options .text-list p{
        font-size: 80%;
    }

    .pokemon-card .download-options .pokemon-image{
        border-radius: 30px 30px 0px 0px;
        background-image: url("https://res.cloudinary.com/kyuri/image/upload/v1646674859/pokemon/back_qdkbf2.jpg");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
    }

    .gallery-container .eevee{
        position: absolute;
        height: 50%;
        top: -6.5%;
        left: 18%;
    }

    .feature-container{
        background-color: #DFDFDF;
        width: 100%;
        height: 2200px;
        overflow: hidden;
       
    }

    .features{
        padding: 0% 9%;
        align-items: center;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        overflow: auto;
    }

    .features .feature-item{
        width: 100%;
        height: 20%;
        
    }

    .search{
        position: absolute;
        top: 750px;
        left: 86px;
    }

    .teams{
        position: absolute;
        top: 1225px;
        left: 86px;
    }

    .ubication{
        position: absolute;
        top: 1700px;
        left: 86px;
    }

    
    .feature-title{
        padding: 3% 0% 4% 0%;
        text-align: center;
        width: 50%;
        text-align: center;
    }

    .feature-title h1{
        font-size: 40px;
        text-align: center;
    }

    .feature-title p{
        font-size: 18px;
    }
    
    .card-back{
        display: flex;
        width: 325px;
        height: 420px;
        border-radius: 40px;
        flex-direction: column;
        text-align: center;
        align-items: center;
        color: #ffffff;
        overflow: hidden;
    }
    
}


@media only screen and (max-width: 750px){

    html{
        width: 100px;
    }


    .gallery-container{
        background-color: #ffffff;
        position: relative;
        width: 400px;
        height: 700px;
        align-items: center;
        padding-top: 5%;
        padding-bottom: 2%;
    }
    
    .pokemon-card{
        margin: auto;
        border-radius: 30px;
        background-color: #E3313D;
        width: 90%;
        height: 90%;
    }
    
    .pokemon-card .download-options {
        display: inline-block;  
        width: 100%;
        height: 45%;
        align-items: center;
        color: #ffffff;
    }
    
    .pokemon-card .download-options .text-list{
        position: absolute;
        padding: 2% 5% 0% 3%;
    }
    
    .pokemon-card .download-options .text-list h1{
        font-size: 200%;
    }
    
    .pokemon-card .download-options .text-list p{
        font-size: 80%;
    }

    .pokemon-card .download-options .pokemon-image{
        border-radius: 30px 30px 0px 0px;
        background-image: url("https://res.cloudinary.com/kyuri/image/upload/v1646674859/pokemon/back_qdkbf2.jpg");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
    }

    .gallery-container .eevee{
        position: absolute;
        height: 50%;
        top: -6.5%;
        left: 10%;
    }

    .feature-container{
        background-color: #DFDFDF;
        width: 100%;
        height: 2200px;
        overflow: hidden;
       
    }

    .features{
        padding: 0% 4%;
        align-items: center;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        overflow: auto;
    }

    .features .feature-item{
        width: 100%;
        height: 5%;
        
    }

    .search{
        position: absolute;
        top: 750px;
        left: 40px;
    }

    .teams{
        position: absolute;
        top: 1225px;
        left: 40px;
    }

    .ubication{
        position: absolute;
        top: 1700px;
        left: 40px;
    }

    
    .feature-title{
        padding: 3% 0% 5% 0%;
        text-align: center;
        width: 45%;
        text-align: center;
    }

    .feature-title h1{
        font-size: 40px;
        text-align: center;
    }

    .feature-title p{
        font-size: 15px;
    }
    
    .card-back{
        display: flex;
        width: 325px;
        height: 420px;
        border-radius: 40px;
        flex-direction: column;
        text-align: center;
        align-items: center;
        color: #ffffff;
        overflow: hidden;
    }

    .app-title{
        position: absolute;
        color: #ffffff;
        white-space: nowrap;
        height: 7%;
        left: 55.5%;
        top: 20%;
        animation-name: appear;
        animation-duration: 2s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
    }

    .email-form{
        position: absolute;
        top: 30%;
        width: 18%;
        color: #ffffff;
        font-size: 100%;
        left: 56%;
    }

    .image-background{
        position: relative;
        width: 220%;
        left: -120%;
        overflow: hidden;
        background: linear-gradient(#172d64, #7f6c90);
    }
    
}
